@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-lg{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  padding-left: 5%;
}

.pl-4{
  font-family: "DM Serif Text", serif;
  font-style: normal;
}

.main-img{
  height: 70vh;
}

.gradient-black{
  height: 70vh;
  width: 100%;
  position: absolute;
  justify-content: end;
  align-items: end;
  background-image: linear-gradient(to right, black, rgba(255, 255, 255, 0));
  opacity: 0.8;
}

.about-grad{
  height: 45vh;
  width: 100%;
}

.main-title{
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 5vw;
  line-height: 1;
}

.paragraph{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 2.5vw;
  padding-top: 2%;
}

.btn-contact{
  display: flex;
  justify-content: end;
  float: right;
  background-color: rgb(224, 153, 22);
  margin-bottom: 0;
  padding-right: 2%;
  padding-left: 2%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3vw;
}

.rounded-shape{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.text-row{
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vw;
  line-height: 1;
}

.first-services{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: end;
  font-size: 2.5vw;
}

.img-about{
  height: 45vh;
  width: 100vw;
}

.about-container{
  margin-top: 20%;
}



.about-text, .services-paragraph{
  font-family: "Unna", serif;
  line-height: 1;
  font-size: 2.5vw;
}

.about-tip{
  background-color: rgb(224, 153, 22);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.about-bg{
  display: block;
  opacity: 0.9;
  float: right;
  position: absolute;
  width: 40vw;
  opacity: 0.6;
}

.sub-about{
  color: rgb(224, 153, 22);
}

.text-base{
  line-height: 1;
  font-family: "Unna", serif;
}

.order-first{
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.services-title{
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
}

#img-services{
  height: 45vh;
}

.services-grad{
  height: 45vh;
}

.gallery-grad{
  height: 24.5vh;
}

.img-gallery{
  height: 24.5vh;
  width: 100%;
}

.service-description{
  font-family: "Unna", serif;
}

.civil-title{
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 6vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.434);
}


.subtitle-logos{
  font-family: "Unna", serif;
  font-size: 3vw;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.logo-contact{
  font-size: 5vw;
}

.contact-title{
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
  border-top: 1px solid rgba(255, 255, 255, 0.453);
}

.sub-contact{
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.img-logo{
  height: 22vh;
  width: 100%;
}

.alefer-logo{
  height: 28vh;
  margin-left: 15%;
}

@media (min-width: 992px){
  .main-title{
    font-size: 3vw;
  }

  .paragraph, .subtitle-logos{
    font-size: 1.5vw;
  }

  .btn-contact, .text-row, .contact-title, .logo-contact{
    font-size: 2vw;
  }

  .first-services{
    font-size: 0.8vw;
  }

  .about-container{
    margin-top: 0;
  }

  .about-text, .services-paragraph{
    font-size: 1vw;
  }

  #main{
    padding-bottom: 5%;
  }

  .order-first{
    font-size: 5vw;
  }

  .services-title{
    font-size: 2.5vw;
  }
  
  .services-grad{
    height: 32.5vh;
  }

  .gallery-grad, .img-gallery{
    height: 31.5vh;
  }

  .services-text{
    padding-left: 25%;
    padding-right: 25%;
  }

  .civil-title{
    font-size: 4vw;
  }

  .img-about{
    float: left;
    height: 80vh;
    width: 35vw;
    margin-right: 15%;
  }

  .about-grad{
    height: 80vh;
    width: 35vw;
  }

  .hidden{
    display: block;
  }

}
